<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css"
    />
    <title>🍍 Pinia Demo</title>
    <script type="module" crossorigin src="/static/playground/index-872d2111.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'playground/index-ae225aa7.css' %}">
</head>
<body>
<h1>Pinia Demo</h1>
<div id="app"></div>

</body>
</html>
